<div class="modal fade" id="createItemModal" tabindex="-1" role="dialog" aria-labelledby="createItemModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="createItemLabel">Create new item</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" class="form-control" id="price">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                  <label for="quantity">Quantity:</label>
                  <input type="text" class="form-control" id="quantity">
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description"></textarea>
              </div>
            </div>
          </div>          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>