<div class="row justify-content-between">
    <h3 class="col-md-6 text-primary">My Groceries Lists</h3>
    <div class="col-md-6">
        <button class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#createItemModal">Add New Item</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 custom-item ">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid" src="http://lorempixel.com/120/165/" />
            </div>
            <div class="col-md-7">
                <h6 class="text-primary">Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse efficitur leo et elementum molestie. Nam eget maximus sapien.
                </p>
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <p class="text-danger">
                            $ 37.00
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-warning btn-sm">Remove Item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 custom-item ">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid" src="http://lorempixel.com/120/165/" />
            </div>
            <div class="col-md-7">
                <h6 class="text-primary">Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse efficitur leo et elementum molestie. Nam eget maximus sapien.
                </p>
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <p class="text-danger">
                            $ 37.00
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-warning btn-sm">Remove Item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 custom-item ">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid" src="http://lorempixel.com/120/165/" />
            </div>
            <div class="col-md-7">
                <h6 class="text-primary">Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse efficitur leo et elementum molestie. Nam eget maximus sapien.
                </p>
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <p class="text-danger">
                            $ 37.00
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-warning btn-sm">Remove Item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 custom-item ">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid" src="http://lorempixel.com/120/165/" />
            </div>
            <div class="col-md-7">
                <h6 class="text-primary">Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse efficitur leo et elementum molestie. Nam eget maximus sapien.
                </p>
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <p class="text-danger">
                            $ 37.00
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-warning btn-sm">Remove Item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>