<div class="jumbotron container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <img class="rounded-circle" src="http://lorempixel.com/250/250/nature" />
                </div>
                <div class="custom-jumbotron col-lg-7">
                    <h1 class="display-3">
                        {{ 'HOME.MY_WISH' | translate }}!!
                    </h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="container custom-card">
                    <form accept-charset="UTF-8" action="/join" autocomplete="off" class="home-hero-signup js-signup-form" method="post">
                        <dl class="form-group">
                            <dd>
                                <label class="form-label" for="user[login]">Username</label>
                            </dd>
                            <dd>
                                <input type="text" name="user[login]" id="user[login]" class="form-control form-control-sm input-block" placeholder="Pick a username" data-autocheck-url="" data-autocheck-authenticity-token=""
                                    autofocus="">
                            </dd>
                        </dl>
                        <dl class="form-group">
                            <dd>
                                <label class="form-label" for="user[email]">Email</label>
                            </dd>
                            <dd>
                                <input type="text" name="user[email]" id="user[email]" class="form-control form-control-sm input-block js-email-notice-trigger" placeholder="you@example.com" data-autocheck-url="" data-autocheck-authenticity-token="">
                            </dd>
                        </dl>
                        <dl class="form-group">
                            <dd>
                                <label class="form-label f5" for="user[password]">Password</label>
                            </dd>
                            <dd>
                                <input type="password" name="user[password]" id="user[password]" class="form-control form-control-sm input-block" placeholder="Create a password" data-autocheck-url="" data-autocheck-authenticity-token="">
                            </dd>
                            <p class="form-control-note">Use at least one letter, one numeral, and seven characters.</p>
                        </dl>
                        <button class="btn btn-success btn-lg btn-block" type="submit" data-ga-click="Signup, Attempt, location:teams; group:codelines_illustration">Sign up for Wishlist</button>
                        <p class="form-control-note mb-0 text-center">
                            By clicking "Sign up for Wishlist", you agree to our terms of service and privacy policy. <span class="js-email-notice">We’ll occasionally send you account related emails.</span>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>