.custom-lists.input-group {
    margin-bottom: 20px;
}

.custom-lists.card {
    margin-bottom: 20px;
}

.custom-lists.input-group {
    margin-bottom: 20px;
}

.custom-lists.card {
    margin-bottom: 20px;
}

#thrash {
    padding: 1px;
    float: right;
}