div {
  font-size: 12px;
  display: flex;
  height: 200px;
  width: 370px;
  margin:5px;
}

div img {
  max-width: 100%;
  margin-right: 10px;
  width: 150px;
  border: black 1px dotted;
}

div .description-item {
  padding: 10px;
  overflow:hidden;
  width: 190px;
}

div p {
  margin: 2px;
  padding: 0px;

}

span.name-item {
  color: blue;
}

div .options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description-item {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  align-self: flex-start;
  justify-content: space-around;
}

.description {
  flex:1 1 100%;
}

button {
  font-size: 12px;
}

span {
  margin-right: 20px;
}
