<div class="lists container">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Your List</a>
        </li>
    </ul>

    <div class="lists-navbar">
        <nav class="navbar navbar-light navbar-expand-sm custom-navbar">
            <div class="container">
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarLists" aria-controls="navbarLists" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarLists">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Create List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                List Settings
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-4">
            <app-lists-view></app-lists-view>
        </div>
        <div class="col-md-8">
            <!--app-create-list></app-create-list-->
            <app-items-view></app-items-view>
        </div>
    </div>

</div>