<div class="container">

    <div class="row lists-tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Your List</a></li>
        </ul>
        <div class="pull-float-right">
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">Create List</a>
                    </li>
                    <li>
                        <a href="">List Settings</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row lists-container">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Find items across your lists">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
                </div>
            </div>
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">Lists</div>
                <div class="panel-body">
                    Create a new list
                    <app-lists-view></app-lists-view>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

</div>