<div class="container custom-item rounded ">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img class="img-fluid img-thumbnail" src="../../../assets/images/default_image.jpg" />
    </div>
    <div class="col-md-7 col-sm-12" *ngIf="!!item">
      <h6 class="text-primary" >{{'ITEMS_VIEW.ITEM_NAME' | translate}} {{item.name}}</h6>
      <p>
      </p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <p class="text-danger">$ {{item.price}}</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="text-danger">Qty:  {{item.quantity}}</p>
        </div>
      </div>
    </div>
  </div>
</div>